body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #006400;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    width: 80%;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

img {
    display: block;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #006400;
    color: white;
    margin-top: 20px;
}

